
@{
     ViewBag.Title = "Index";
}

<!--------------------------------------------------------despre nails ------------------------------------------->
<div class="bg">
     <div class="about container" id="about">
          <div class="row">
               <div class="col-md-6  text-center">
                    <img src="/Content/imgs/06.jpg" class="profile-img" style="max-width:  520px">
               </div>
               <div class="col-md-6">
                    <h3>Despre Pinkie Nails </h3>
                    <p></p>
                    <p>
                         La Pinkie Nails te ajutăm să menții aspectul mâinilor și unghiilor frumos și îngrijit.
                         De asemenea, avem grijă să folosim instrumente și soluții ce protejează structura sănătoasă a
                         unghiilor.
                    </p>
                    <p>
                         Gama variată de oje va adăuga culoare și personalitate manichiurii tale. Vei simți mai multă
                         încredere atunci când vei face o prezentare la universitate, vei întâmpina persoane, vei merge la
                         un eveniment, dar și te vei simți specială zi de zi.
                    </p>
                    <p> Oferim:</p>
                    <!----------------- skilluri----------->
                    <div class="skills-bar">
                         <p></p>
                         <div class="progress" style="height: 32px">
                              <div class="progress-bar" style="width: 100%;">Manichiură cu aparatul</div>
                         </div>
                         <div class="skills-bar">
                              <p></p>
                              <div class="progress" style="height: 32px">
                                   <div class="progress-bar" style="width: 100%;">Îndepărtarea completă a cuticulei</div>
                              </div>
                         </div>
                         <div class="skills-bar">
                              <p></p>
                              <div class="progress" style="height: 32px">
                                   <div class="progress-bar" style="width: 100%;">
                                        Înlăturarea acoperii precedente cu aparatul
                                   </div>
                              </div>
                              <div class="skills-bar">
                                   <p></p>
                                   <div class="progress" style="height: 32px">
                                        <div class="progress-bar" style="width: 100%;">Acoperire Shellac</div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!------------------servicii----------------------------->
<div class="services" id="services">
     <div class="container">
          <div class="text22" style="text-align: center;">
               <h1> <b>Pinkie Nails</b></h1>
          </div>
          <p class="text-center">Vă oferă: </p>
          <div class="row">
               <div class="col-md-4">
                    <div class="services-box">
                         <i class="fa fa-rocket"></i><span> Calitate </span>
                         <p>
                              Posibilitatea de a efectua mai multe efecte pe unghii
                              <br>
                         </p>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="services-box">
                         <i class="fa fa-laptop"></i><span>Materiale bune</span>
                         <p>Shellac-ul se menține 2 săptămâni,<br>garantat de marca YouPosh</p>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="services-box">
                         <i class="fa fa-line-chart"></i><span>Utilaj Profesional</span>
                         <p>
                              Folosim lampa și frezer, care nu distruge matricea unghiei
                              <br>
                         </p>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-------------------------galerie-------------------------------------->
<section id="gallery" class="gallery section">
     <div class="container">
          <div class="section-header">
               <h2 class="wow fadeInDown animated">Galerie</h2>
               <p class="wow fadeInDown animated">Modele de unghii și Clienti multumiți</p>
          </div>
          <div class="row no-gutter">



               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/01.jpg" class="work-box">
                         <img src="/Content/imgs/01.jpg" alt="">

                         <div class="overlay">
                              <div class="overlay-caption">
                              </div>
                         </div>
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/11.jpg" class="work-box">
                         <img src="/Content/imgs/11.jpg" alt="">
                         <div class="overlay">
                              <div class="overlay-caption">
                              </div>
                         </div>
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/03.jpg" class="work-box">
                         <img src="/Content/imgs/03.jpg" alt="">
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/04.jpg" class="work-box">
                         <img src="/Content/imgs/04.jpg" alt="">
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/05.jpg" class="work-box">
                         <img src="/Content/imgs/05.jpg" alt="">
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/15.jpg" class="work-box">
                         <img src="/Content/imgs/15.jpg" alt="">
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/13.jpg" class="work-box">
                         <img src="/Content/imgs/13.jpg" alt="">
                         <!-- overlay -->
                    </a>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="/Content/imgs/08.jpg" class="work-box">
                         <img src="/Content/imgs/08.jpg" alt="">
                         <!-- overlay -->
                    </a>
               </div>
          </div>
     </div>
</section>
<!--end section -->
<!-----contactele------->
<!-----------aici e harta si box mesaje-->
<div class="container-fluid mb-4">
     <div class="container">
          <div class="col-12 text-center contact_margin_svnit ">
               <div class="text-center fh5co_heading py-2">Programare </div>
          </div>
          <div class="row">
               <div class="col-12 col-md-6">
                    <form class="row" id="fh5co_contact_form">
                         <div class="col-12 py-3">
                              <input type="text" class="form-control fh5co_contact_text_box" placeholder="Numele și penumele" />
                         </div>
                         <div class="col-6 py-3">
                              <input type="text" class="form-control fh5co_contact_text_box" placeholder="E-mail" />
                         </div>
                         <div class="col-6 py-3">
                              <input type="text" class="form-control fh5co_contact_text_box" placeholder="ora dorită" />
                         </div>
                         <div class="col-12 py-3">
                              <textarea class="form-control fh5co_contacts_message" placeholder="Mesaj"></textarea>
                         </div>
                         <div class="col-12 py-3 text-center">
                              <a href="#" class="btn contact_btn">Trimite mesaj</a>
                         </div>
                    </form>
               </div>
               <div class="col-12 col-md-6 align-self-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2718.010737906913!2d28.8689415!3d47.0596397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97ce08a10e683%3A0x4d92abaf28198b6!2zU3RyYWRhIFN0dWRlbsibaWxvciwgQ2hpyJlpbsSDdSwgTW9sZG92YQ!5e0!3m2!1sro!2s!4v1580682102635!5m2!1sro!2s"
                            width="600" height="270" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
               </div>
          </div>
     </div>
</div>